In [2]:
import numpy as np

In [5]:
import pandas as pd

### Pandas 1D Series

In [7]:
s = pd.Series([10, 20, 30, 40 ,50])

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### create dataframe

In [11]:
data = {
    "Name" : ["Alice", "Bob", "Charlie"],
    "Age" : [25, 30, 40],
    "City" : ["New York", "Nalasupara", "Chicago"]
}

df = pd.DataFrame(data)

print(df)

      Name  Age        City
0    Alice   25    New York
1      Bob   30  Nalasupara
2  Charlie   40     Chicago

In [4]:
df = pd.read_csv('students.csv')
print(df)

      Name  Marks  Age
0    Alice     85   20
1      Bob     78   22
2  Charlie     92   21
3    Diana     88   23
4    Ethan     74   20